
* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #F4F4F4;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
}

.brand {
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: #A43E27;
  color: white;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.addtaskform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-right: 20px;
}

.addtaskbrand{
  margin-bottom: 30px;
}

.list-container {
  width: 100%;
  max-width: 600px;
}

.task {
  text-align: left;
}

.completed-task {
  background-color: #e8f5e9;
  padding: 10px;
  margin: 5px 0;
}

.btn{
  background-color: #63BC50;
}